<div class="jumbotron jumbotron-fluid" id="cat_display">
  <div class="container">
    <h5><strong>| QUIZ |</strong></h5>
    <h3 class="card-title display-4"><strong><%= @category.title %></strong></h3>
    <p class="lead"><strong><em><%= @category.description %></em></strong></p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">

  <div class="container">
    <h2>START NOW!</h2>
    <%= form_with model: @answer_sheet do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.fields :answers do |field| %>
        <% @questions.each do |questions| %>
          <div class="question"><strong><%= questions.title %></strong>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group">
                <% questions.answers.each do |ans| %>
                  <span id="btn-answer">
                    <%= field.radio_button :"question_id_#{questions.id}", ans.id %>
                    <%= field.label :"question_id_#{questions.id}", ans.title, class: "btn btn-secondary" %>
                  </span>
                <% end %>
              </div>
            </div>   
          </div>
        <% end %>
      <% end %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Play More!</p>
    <span class="lead">Quiz Cards</span>
    <span class="lead">Quiz Cards</span>
    <span class="lead">Quiz Cards</span>
    <span class="lead">Quiz Cards</span>
  </div>
</div>


